@charset "utf-8";
.main .head2 .menu {
	width: 1000px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}
.main .head2 .menu a {
	color: #FFFFFF;
	text-decoration: none;
	float: left;
	height: 40px;
	line-height: 40px;
	width: 100px;
	margin-left: 7px;
}
.main .head2 .menu a:hover {
	background-color: #FFFFFF;
	color: #003399;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
